extends base.pug

block content
    video(src="/"+video.fileUrl, controls) 
    div 
        p=video.description
        small=video.createdAt
        h3 #{video.meta.views} #{video.meta.views < 2? "view" : "views"}
    //- /link : absolute url /root -> /link,  
    //- link : relative url  /root/link -> root/other
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;